.Header {
  height: 5em;
  width: 100%;
  background-color: blue;
  /* position: fixed; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.one {
  background-color: brown;
}

.two {
  background-color: green;
}

.three {
  background-color: blue;
}